<div>
    <div class="container-fluid">
        <div id="messagePanel" ng-show="hasMessage">{{msg}}</div>

        <div ng-show="ready && !hasMessage">
            <div>
                <div class="lookupImageContainer">
                    <img ng-src="{{album.primaryImage}}" title="Album cover" class="lookupImage" />
                </div>

                <div class="lookupMetaContainer">
                    <div class="mainName">{{album.title}}</div>

                    <div class="topPadding5">
                        <a class="noUnderline" ng-attr-title="Look up {{artist.name}}" ng-click="setCurrentArtist(artist.name)" ng-repeat="artist in album.primaryArtists" ng-href="#artist/{{artist.id}}">
                            <span class="label label-success label-clickable metaLabel">{{artist.name}}</span>
                        </a>
                    </div>

                    <div ng-show="hasReleaseDate" class="topPadding5 smallerText">
                        <span>Released:&nbsp;{{album.originalReleaseDate}}</span>
                    </div>

                    <div ng-show="hasDuration" class="smallerText">
                        <span>Duration:&nbsp;{{album.durationFormatted}}</span>
                    </div>

                    <div class="topPadding5">
                        <a ng-repeat="style in album.styles" ng-click="setCurrentStyle(style.name)" ng-href="#style/{{style.id}}" ng-attr-title="Look up {{style.name}}" class="styleLink">
                            <span class="label label-primary label-clickable label-lookup metaLabel">{{style.name}}</span>
                        </a>
                    </div>

                    <div class="topPadding5 smallerText" ng-show="hasHeadlineReview">
                        <span ng-bind-html="album.headlineReviewFormatted"></span><span ng-show="album.primaryReview">&nbsp;<a ng-href="{{fullReviewLink}}">(more)</a></span>
                    </div>
                </div>
            </div>

            <div class="discographyContainer">
                <ul class="standardList">
                    <li ng-repeat="track in album.tracks" class="panel panel-default">
                        <div class="metaContainer">
                            <div>
                                <span class="mainName">{{track.title}}</span>
                            </div>
                            <div class="smallText">
                                <span class="metaLabelWithSeparator" ng-repeat="performer in track.performers">{{performer.name}}</span>
                            </div>
                        </div>

                        <div class="imageContainer" ng-show="track.duration > 0">
                            <span>{{track.durationFormatted}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
