<div>
    <div class="container-fluid">
        <div id="messagePanel" ng-show="hasMessage">{{msg}}</div>

        <div ng-show="ready" class="well">
            <div>
                Results for:
            </div>
            <div>
                <em>{{searchTerm}}</em>
            </div>
        </div>

        <ul ng-show="ready && !noResults" class="standardList">
            <li ng-repeat="album in albums" class="panel panel-default">
                <div class="imageContainer">
                    <a ng-href="#album/{{album.id}}">
                        <img ng-src="{{album.album.primaryImage}}" title="Album cover" class="searchImage" />
                    </a>
                </div>

                <div class="metaContainer">
                    <div>
                        <a ng-attr-title="Look up {{album.album.title}}" ng-href="#album/{{album.id}}">
                            <span>{{album.album.title}}</span>
                        </a>
                    </div>

                    <div>
                        <a ng-repeat="artist in album.album.primaryArtists" ng-href="#artist/{{artist.id}}" ng-attr-title="Look up {{artist.name}}" class="noUnderline">
                            <span class="label label-success label-clickable metaLabel">{{artist.name}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-show="!noResults" class="alignCenter">
            <a ng-show="curPage > 1" ng-href="#search/album/{{searchTerm}}?size={{pageSize}}&offset={{offset - (pageSize * 2)}}" class="btn btn-default navLink">Previous</a>
            <span ng-show="curPage > 1 && albums.length === pageSize" class="pageTextSpacing">Page {{curPage}}</span>
            <a ng-show="albums.length === pageSize" ng-href="#search/album/{{searchTerm}}?size={{pageSize}}&offset={{offset}}" class="btn btn-default navLink">Next</a>
        </div>

        <div ng-show="noResults">
            No results found.
        </div>
    </div>
</div>
