<div ng-controller="ArtistSearchCtrl">
    <div class="container-fluid">
        <div ng-show="!ready">
            Searching for artist ...
        </div>

        <div id="messagePanel" ng-show="hasMessage">{{msg}}</div>

        <div ng-show="ready" class="well">
            <div>
                Results for:
            </div>
            <div>
                <em>{{searchTerm}}</em>
            </div>
        </div>

        <ul ng-show="ready && !noResults" class="standardList">
            <li ng-repeat="artist in artists" class="panel panel-default">
                <div class="imageContainer">
                    <a ng-href="#artist/{{artist.id}}">
                        <img ng-src="{{artist.name.primaryImage}}" title="Artist image" class="searchImage" />
                    </a>
                </div>

                <div class="metaContainer">
                    <div>
                        <a ng-attr-title="Look up {{artist.name.name}}" ng-href="#artist/{{artist.id}}">
                            <div>{{artist.name.name}}</div>
                        </a>
                    </div>

                    <div>
                        <span class="label label-primary metaLabel" ng-repeat="genre in artist.name.musicGenres">
                            <a ng-href="#genre/{{genre.id}}" class="styleLink">{{genre.name}}</a>
                        </span>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-show="!noResults" class="alignCenter">
            <a ng-show="curPage > 1" ng-href="#search/artist/{{searchTerm}}?size={{pageSize}}&offset={{offset - (pageSize * 2)}}" class="btn btn-default navLink">Previous</a>
            <span ng-show="curPage > 1 && artists.length === pageSize" class="pageTextSpacing">Page {{curPage}}</span>
            <!-- Since there isn't a practical way of knowing if there are results beyond the current 
                 page, we show the Next link if the number of items being viewed equals the page size -->
            <a ng-show="artists.length === pageSize" ng-href="#search/artist/{{searchTerm}}?size={{pageSize}}&offset={{offset}}" class="btn btn-default navLink">Next</a>
        </div>

        <div ng-show="noResults">
            No results found.
        </div>
    </div>
</div>
