<!-- 
This template is for the portion of the artist view that shows discography items. The two goals here 
are being able to separate out a given artist's discography by type, and combine identical markup into 
a common template. The formattedType property is based on the type of the discog item and set in the data 
service. We don't use the native property from the database because singles and EPs have different values, 
and it's much easier to filter by a single value. The filtering context is based on the UI element being 
shown, which is associated with an item type.
-->
<ul class="standardList">
    <li ng-repeat="album in artist.discography | filter:{formattedType: pane.contentType}" class="panel panel-default">
        <div class="imageContainer">
            <a ng-href="#album/{{album.ids.albumId}}">
                <img ng-src="{{album.primaryImage}}" title="Album cover" class="discographyImage" />
            </a>
        </div>

        <div class="metaContainer">
            <div>
                <a ng-href="#album/{{album.ids.albumId}}" class="albumName">
                    <div>{{album.title}}</div>
                </a>
            </div>

            <div class="smallText">
                <span>{{album.year}}</span>
            </div>
        </div>
    </li>
</ul>
