<div ng-controller="GenreLookupCtrl">
    <div class="container-fluid">
        <div ng-show="!ready">
            Retrieving genre ...
        </div>

        <div id="messagePanel" ng-show="hasMessage">{{msg}}</div>

        <div ng-show="ready && !hasMessage">
            <h4>{{genres[0].name}}</h4>

            <div class="smallerText">{{genres[0].formattedDescription}}</div>
        </div>

        <div class="backButton"><a ng-click="goBack()" class="btn btn-default navLink">Back</a></div>
    </div>
</div>
