<div>
    <div class="container-fluid">
        <div class="row">
            <div id="messagePanel" ng-show="hasMessage" ng-bind="msg"></div>

            <div class="well">
                <form ng-submit="submitForm()">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                Results per page
                                <select ng-model="pageSize" id="pageSize" class="form-control">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="albumChrono" id="albumChrono" type="checkbox" />Show albums in chrono order
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <button type="button" class="btn btn-primary" ng-click="submitForm()">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>