<div>
    <div class="container-fluid">
        <div class="row">
            <div class="well">
                <div>
                    <form ng-submit="submitQuery()">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <input type="text" id="searchInput" focus-me="shouldFocus" ng-change="onSearchInputChange()" class="col-md-4 form-control" placeholder="Search" ng-model="searchTerm" name="searchInput" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <div class="control-group bottomPadding15 topPadding15">
                                        <span class="searchOption">
                                            <label class="radio-inline control-label">
                                                <input type="radio" ng-model="collection" name="collection" id="artist" value="artist">Artist
                                            </label>
                                        </span>
                                        <span class="searchOption">
                                            <label class="radio-inline control-label">
                                                <input type="radio" ng-model="collection" name="collection" value="album">Album
                                            </label>
                                        </span>
                                        <span class="searchOption">
                                            <label class="radio-inline control-label">
                                                <input type="radio" ng-model="collection" name="collection" value="song">Song
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <button type="button" class="btn btn-primary" ng-disabled="missingInput" ng-click="submitForm()">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>