<div>
    <div class="container-fluid">
        <div id="messagePanel" ng-show="hasMessage">{{msg}}</div>

        <div ng-show="ready" class="well">
            <div>
                Results for:
            </div>
            <div>
                <em>{{searchTerm}}</em>
            </div>
        </div>

        <ul ng-show="ready && !noResults" class="standardList">
            <li ng-repeat="song in songs" class="panel panel-default">
                <div class="imageContainer">
                    <img ng-src="{{song.song.primaryImage}}" title="Album cover" class="searchImage" />
                </div>

                <div class="metaContainer">
                    <div>{{song.song.title}}</div>

                    <div>
                        <a class="noUnderline" ng-attr-title="Look up {{artist.name}}" ng-repeat="artist in song.song.primaryArtists" ng-click="setCurrentArtist(artist.name)" ng-href="#artist/{{artist.id}}">
                            <span class="label label-success metaLabel">{{artist.name}}</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

        <div ng-show="!noResults" class="alignCenter">
            <a ng-show="curPage > 1" ng-href="#search/song/{{searchTerm}}?size={{pageSize}}&offset={{offset - (pageSize * 2)}}" class="btn btn-default navLink">Previous</a>
            <span ng-show="curPage > 1 && songs.length >= pageSize" class="pageTextSpacing">Page {{curPage}}</span>
            <a ng-show="songs.length >= pageSize" ng-href="#search/song/{{searchTerm}}?size={{pageSize}}&offset={{offset}}" class="btn btn-default navLink">Next</a>
        </div>

        <div ng-show="noResults">
            No results found.
        </div>
    </div>
</div>
