body {
    background-color: #EEEEEE;
    color-scheme: light dark;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif;
    font-synthesis: none;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    justify-content: center;
}

a.app-link:link,
a.app-link:visited,
a.app-link:focus,
a.app-link:active {
    color: #1976d2;
    text-decoration: none;
}
a.app-link:hover {
    color: rgba(25, 118, 210, 0.60);
}
