/* Home page */
#mainContent
{
    padding-top:10px;
    padding-bottom:10px;
}

#mainFooter
{
    padding-bottom:10px;
    text-align:center;
}

/* Bootstrap overrides */
.label {
  display: inline;
  padding: .3em .5em .4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

/* Views */
#messagePanel
{
    color:Red;
    padding-bottom:5px;
    text-align:center;
}

.viewContainer
{
    padding-left:10px;
    padding-right:10px;
}

.standardList
{
    list-style-type:none;
    padding-left:0;
}

.standardList li
{
    margin:2px;
    padding:5px;
}

.listItem
{
    padding-bottom:10px;
}

.searchImage
{
    border-style:none;
    height:auto;
    width:50px;
}

.lookupImage
{
    border-style:none;
    height:auto;
    width:90px;
}

.longDescriptionImage
{
    border-style:none;
    float:left;
    height:auto;
    margin-right:10px;
    width:90px;
}

.imageContainer
{
    display:table-cell;
    vertical-align:middle;
}

.metaContainer
{
    display:table-cell;
    padding-left:10px;
    vertical-align:middle;
    width:100%;
}

.lookupMetaContainer
{
    display:table-cell;
    padding-left:10px;
    vertical-align:top;
    width:100%;
}

.metaLabel 
{
    display:inline-block;
    margin-right:5px;
}

.metaLabel:last-child 
{
    margin-right:0 !important;
}

.metaLabelWithSeparator 
{
    display:inline-block;
}

/* Adds a separator for something that has multiple instances (e.g. performers on a single track, 
   etc). The last-child selector makes sure there  isn't a separator on the last item. We have to 
   use the escaped Unicode character for a space since the content attribute doesn't accept named 
   entities and it doesn't work with a regular space. */
.metaLabelWithSeparator::after
{
    content: " |\a0 ";
}

.metaLabelWithSeparator:last-child::after
{
    content: "";
}

.lookupImageContainer
{
    display:table-cell;
    vertical-align:top;
}

.mainName
{
    font-weight:600;
}

.yearsActiveContainer
{
    padding-top:2px;
}

.discographyContainer
{
    font-size:0.9em;
    padding-top:10px;
}

.discographyImage
{
    border-style:none;
    height:auto;
    width:25px;
}

.albumName
{
    font-weight:500;
}

.saveButton
{
    padding-top:95px !important;
}

.backButton
{
    padding-top:10px;
    text-align:center;
}

.pageTextSpacing
{
    padding-left:8px;
    padding-right:8px;
}

.navLink
{
    width:80px;
}

a.styleLink:link,
a.styleLink:visited,
a.styleLink:focus,
a.styleLink:hover,
a.styleLink:active
{
    color:white;
    text-decoration:none;
}

/* General */
/* Forces IE to show full scrollbars rather than overlays. Bootstrap is setting it to width: device-width to
   provide support for responsive design on the Surface and under Windows 8 in certain curcumstances. May need 
   to find a better solution in the future. */
@-ms-viewport
{
    width: auto !important;
}

/* Prevents mobile browsers from zooming in when focused on an input field */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select:focus, textarea:focus, input:focus {
        font-size: 16px;
        background: #eee;
    }
}

.displayInlineBlock
{
    display:inline-block;
}

.displayTableCell
{
    display:table-cell;
}

.imageNoBorder
{
    border-image-width:0
}

.smallerText
{ font-size:0.8em; }

.smallText
{ font-size:0.9em; }

.largeText
{ font-size:1.2em; }

.fullWidth
{ width:100%; }

.hideMe
{ display:none; }

.noOverflow
{ overflow:hidden; }

.alignTop
{ vertical-align:top; }

.alignMiddle
{ vertical-align:middle; }

.alignBottom
{ vertical-align:bottom; }

.alignLeft
{ text-align:left; }

.alignCenter
{ text-align:center; }

.alignRight
{ text-align:right; }

.topPadding5
{ padding-top:5px; }

.topPadding10
{ padding-top:10px; }

.topPadding15
{ padding-top:15px; }

.topPadding20
{ padding-top:20px; }

.topMargin5
{ margin-top:5px }

.topMargin10
{ margin-top:10px }

.topMargin15
{ margin-top:15px }

.topMargin20
{ margin-top:20px }

.bottomPadding5
{ padding-bottom:5px }

.bottomPadding10
{ padding-bottom:10px }

.bottomPadding15
{ padding-bottom:15px }

.bottomPadding20
{ padding-bottom:20px }

.bottomMargin5
{ margin-bottom:5px; }

.bottomMargin10
{ margin-bottom:10px }

.bottomMargin15
{ margin-bottom:15px }

.leftPadding3
{ padding-left:3px; }

.leftPadding10
{ padding-left:10px; }

.leftPadding20
{ padding-left:20px; }

.leftMargin5
{ margin-left:5px; }

.leftMargin10
{ margin-left:10px; }

.leftMargin20
{ margin-left:20px; }

.rightPadding5
{ padding-right:5px; }

a.noUnderline:link,
a.noUnderline:visited,
a.noUnderline:focus,
a.noUnderline:hover,
a.noUnderline:active
{
    text-decoration:none;
}

